.testContainer {
  outline: none;
  border: none;
}

.test {
  margin-top: 30px;
  color: var(--neutral-400);
  font-size: 2.2rem;
  font-weight: var(--font-light);
  line-height: 1.5;
  letter-spacing: 2px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--neutral-800);
  margin-bottom: 30px;
  position: relative;

  .passage.blurry {
    filter: blur(8px);
    user-select: none;
    pointer-events: none;
    transition: filter 0.3s ease;
  }
}

.startTestContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    background-color: var(--blue-600);
    color: var(--neutral-0);
    font-size: 1.2rem;
    font-weight: var(--font-light);
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    outline: none;
    border: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--blue-400);
    }

    &:active {
      scale: 0.95;
    }
  }

  p {
    color: var(--neutral-0);
    font-size: 18px;
    font-weight: var(--font-medium);
    letter-spacing: normal;
    text-align: center;
    text-shadow: 0px 0px 5px var(--neutral-900);
  }
}

.caret, .correct, .mistake, .normal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.caret {
  background-color: var(--neutral-800);
  width: fit-content;
  min-width: 0.5ch;
  border-radius: 5px;
  height: 1.8ch;
  animation: caret 0.5s ease-in infinite alternate;
}

.correct {
  color: var(--green-500);
}

.mistake {
  color: var(--red-500);
  text-decoration: underline;
}

@keyframes caret {
  from {
    background-color: var(--neutral-800)
  } to {
    background-color: rgba(38, 38, 38, 0.164);
  }
}