.statusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-block: 30px 15px;
  border-bottom: 1px solid var(--neutral-800);

  & > div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.divider {
  align-self: stretch;
  width: 1px;
  background-color: var(--neutral-800);
}

.stats p {
  color: var(--neutral-500);
  font-size: 1.1rem;
  font-weight: var(--font-medium);

  span {
    color: white;
    font-size: 1.3rem;
    font-weight: var(--font-bold);
    margin-left: 15px;
  }
}

.controls p {
  color: var(--neutral-500);
  font-weight: var(--font-light);
}

.difficulty,
.mode {
  display: flex;
  align-items: center;
  gap: 20px;
}

.controlGroup {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile {
  display: none;
}

@media (max-width: 1100px) {
  .statusBar {
    flex-direction: column;
  }

  .stats p {
    font-size: 1rem;
    text-align: center;

    & span {
      display: block;
      margin-left: 0;
      text-align: center;
      margin-top: 5px;
      font-size: 1.4rem;
    }
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .statusBar {
    padding-top: 0;
  }

  .controls {
    width: 100%;
    justify-content: center;

    > div {
      flex-grow: 1;
    }
  }
}