.header {
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personalBest {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    color: var(--neutral-500);
    font-size: var(--fontSize-label);
    font-weight: var(--font-medium);
    text-transform: capitalize;

    .wpm {
      color: var(--neutral-0);
    }
  }
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}