/* Font ------------------------------------------------------------- */
@font-face {
  font-family: "Sora";
  src: local("Sora"), url("/fonts/Sora-VariableFont_wght.ttf");
  font-weight: 100 800;
}

/* Variables -------------------------------------------------------- */
:root {
  --neutral-900: rgb(18, 18, 18);
  --neutral-800: rgb(38, 38, 38);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: rgb(255, 255, 255);
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);
  --red-500: hsl(354, 63%, 57%);
  --green-500: hsl(140, 63%, 57%);
  --yellow-400: hsl(49, 85%, 70%);
  --fontSize-label: 16px;
  --font-light: 400;
  --font-medium: 600;
  --font-bold: 700;
}

/* Globals ---------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  font-size: var(--fontSize-label);
  font-weight: var(--font-light);
  color: var(--neutral-0);
  background-color: var(--neutral-900);
}

input, button, select, textbox {
  font: inherit;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
